body {
  background-color: #f5f5f5;
}

#root .checkoutHeader {
  padding: 25px 0;
  background-color: #fff;
}

#root .cart {
  margin: 50px 0;
  min-height: 300px;
  background-color: #fff;
  position: relative;
}

#root .cart .notLogin {
  width: 450px;
  height: 77px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -33px;
  margin-left: -225px;
  font-size: 14px;
}

#root .cart .notLogin p,
#root .cart .notLogin a {
  margin-left: 20px;
  color: #000;
  float: left;
}

#root .cart .notLogin p {
  width: 370px;
  margin-top: 13px;
  color: #858585;
  margin-bottom: 15px;
}

#root .cart .notLogin i {
  width: 60px;
  height: 77px;
  display: block;
  float: left;
  background: url(../images/package.png0-);
}

#root .cart .checkoutMain {
  padding: 0 40px 0 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root .cart .checkoutMain .shopnav {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
}

#root .cart .checkoutMain .shopnav li {
  float: left;
}

#root .cart .checkoutMain .shopnav li.quanxuan {
  width: 120px;
}

#root .cart .checkoutMain .shopnav li.prodinfo {
  width: 460px;
}

#root .cart .checkoutMain .shopnav li.oneprice {
  width: 150px;
}

#root .cart .checkoutMain .shopnav li.prodnum {
  width: 170px;
  text-indent: 35px;
}

#root .cart .checkoutMain .shopnav li.totalprice {
  width: 150px;
}

#root .cart .checkoutMain .shopnav li.del {
  width: 50px;
}

#root .cart .checkoutMain .shopnav li input {
  margin-right: 20px;
}

#root .cart .checkoutMain .shopInfo {
  min-height: 150px;
  position: relative;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #eee;
}

#root .cart .checkoutMain .shopInfo > div {
  float: left;
}

#root .cart .checkoutMain .shopInfo .shopInfo_xuan {
  margin-top: 30px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_img {
  margin: 0 25px 0 10px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_img img {
  width: 74px;
  height: 74px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_text {
  width: 460px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_text h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_text h4 {
  margin-bottom: 10px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_text h3,
#root .cart .checkoutMain .shopInfo .shopInfo_text h4,
#root .cart .checkoutMain .shopInfo .shopInfo_text h5 {
  cursor: pointer;
}

#root .cart .checkoutMain .shopInfo .shopInfo_text h3:hover,
#root .cart .checkoutMain .shopInfo .shopInfo_text h4:hover,
#root .cart .checkoutMain .shopInfo .shopInfo_text h5:hover {
  color: #e00;
}

#root .cart .checkoutMain .shopInfo .shopInfo_price {
  width: 150px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_num {
  width: 170px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_num i {
  width: 21px;
  height: 21px;
  display: inline-block;
  line-height: 21px;
  text-align: center;
  border: 1px solid #eee;
  color: #474747;
  cursor: pointer;
}

#root .cart .checkoutMain .shopInfo .shopInfo_num i.mins, #root .cart .checkoutMain .shopInfo .shopInfo_num i.maxs {
  color: #bdbdbd;
}

#root .cart .checkoutMain .shopInfo .shopInfo_num span {
  width: 37px;
  height: 21px;
  display: inline-block;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: center;
  color: #000;
  line-height: 21px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_total {
  width: 150px;
}

#root .cart .checkoutMain .shopInfo .shopInfo_del {
  width: 19px;
  height: 19px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  background: url(../images/checkout_icon.png) no-repeat 0 0;
}

#root .checkoutSumbit {
  height: 20px;
  padding: 20px 0;
  background-color: #fff;
}

#root .checkoutSumbit li {
  float: left;
  cursor: pointer;
  line-height: 20px;
}

#root .checkoutSumbit li input {
  margin: 0 20px;
}

#root .checkoutSumbit li.alldel {
  margin: 0 30px;
}

#root .checkoutSumbit li.line {
  width: 1px;
  height: 14px;
  background-color: #ccc;
  vertical-align: middle;
  margin-right: 20px;
}

#root .checkoutSumbit li.service {
  background-color: #eee;
  color: #000;
  border-radius: 100px;
  width: 130px;
  height: 20px;
  text-indent: 8px;
  position: relative;
}

#root .checkoutSumbit li.service::after {
  display: block;
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  top: 6px;
  right: 10px;
  background: url(../images/checkout-submit-phone.png) no-repeat 100%;
}

#root .checkoutSumbit li.checkNum {
  margin-right: 20px;
  width: 110px;
}

#root .checkoutSumbit li.checkNum span {
  margin: 0 5px;
}

#root .checkoutSumbit li.totalPrice {
  margin-right: 20px;
  width: 130px;
}

#root .checkoutSumbit li.totalPrice span {
  font-size: 14px;
}

#root .checkoutSumbit li.Sumbit {
  width: 140px;
  height: 60px;
  position: relative;
  top: -20px;
  background-color: #e00;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  float: left;
  color: #fff;
  margin-left: 30px;
  cursor: pointer;
}

#root .checkoutSumbit .settle {
  float: left;
}

#root .checkoutSumbit .total {
  float: right;
  color: #858585;
}

#root .checkoutSumbit .total span {
  color: #000;
}

#root .checkoutguesslike {
  margin: 100px 0 80px 0;
  position: relative;
}

#root .checkoutguesslike h1 {
  font-size: 18px;
  padding-bottom: 9px;
  cursor: pointer;
}

#root .checkoutguesslike .controlBtn {
  position: absolute;
  right: 0;
  height: 30px;
  width: 110px;
  top: 0;
}

#root .checkoutguesslike .controlBtn > div {
  display: inline-block;
  width: 50px;
  height: 30px;
  cursor: pointer;
  background-image: url(../images/checkout_control.png);
}

#root .checkoutguesslike .controlBtn .leftBtn {
  background-position-x: 0;
  background-position-y: -60px;
  /* &:hover{
                    background-position-y: -30px;
                } */
}

#root .checkoutguesslike .controlBtn .rightBtn {
  background-position-x: -50px;
  background-position-y: -60px;
  /* &:hover{
                    background-position-y: -30px;
                } */
}

#root .checkoutguesslike .controlBtn .disabled {
  background-position-y: 0;
}

#root .checkoutguesslike .checkoutguesslike-box {
  width: 1190px;
  overflow: hidden;
  background-color: #fff;
}

#root .checkoutguesslike .checkoutguesslike-box .guessLike-shops {
  position: relative;
  width: 4760px;
}

#root .checkoutguesslike .checkoutguesslike-box .guessLike-shops li {
  float: left;
  width: 198px;
  height: 268px;
  padding: 20px;
}

#root .checkoutguesslike .checkoutguesslike-box .guessLike-shops li img {
  width: 180px;
  height: 180px;
}

#root .checkoutguesslike .checkoutguesslike-box .guessLike-shops li .guessLike-shops-all {
  margin-top: 10px;
  line-height: 18px;
}

#root .checkoutguesslike .checkoutguesslike-box .guessLike-shops li .guessLike-shops-all .guessLike-shops-brand {
  font-weight: bolder;
  margin-bottom: 5px;
}

#root .checkoutguesslike .checkoutguesslike-box .guessLike-shops li .guessLike-shops-all .guessLike-shops-title {
  font-size: 14px;
  margin-bottom: 5px;
  width: 180px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#root .CloseAccount {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#root .CloseAccount .addmark {
  width: 440px;
  height: 300px;
  background: #fff;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#root .CloseAccount .addmark i {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 200px;
  background: url(../images/success_mark.png) no-repeat;
}

#root .CloseAccount .addmark .mark {
  font-size: 20px;
  text-align: center;
  margin-top: 170px;
}

#root .CloseAccount .addmark .mark a {
  display: inline-block;
  font-size: 16px;
  margin: 30px 40px 0;
}

#root .CloseAccount .addmark .mark a:hover {
  color: #e00;
  text-decoration: underline;
}
