@charset "UTF-8";
/* 顶部 */
.headerbg {
  background-color: #fff;
}

.headerbg-info {
  padding: 30px 0;
}

.headerbg-info .header-logo {
  width: 250px;
  height: 36px;
  float: left;
}

.headerbg-info .register {
  font-size: 16px;
  margin: 10px 0 0 30px;
  float: left;
}

.headerbg-info .login {
  float: right;
}

.headerbg-info .login p {
  display: inline-block;
  color: #9d9d9d;
}

.headerbg-info .login span:hover a {
  color: #e00;
  text-decoration: underline;
}

.headerbg-info .login span:hover i {
  border-left: 5px solid #e00;
}

.headerbg-info .login i {
  display: inline-block;
  border-left: 5px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

/* 登录表单 */
.loginForm {
  width: 100%;
  min-height: 810px;
  float: left;
  background: url(../images/login1.jpg) no-repeat 50% 0;
}

.loginForm .loginForm-info {
  margin: 50px 0 0 100px;
  position: relative;
  /* 错误信息提示 */
  /* 验证码 */
  /*  .getCode {
            width: 120px;
            cursor: pointer;
            margin-left: 10px;
            background-color: #999;
            color: #fff;
        }

        .unlockCode {
            background-color: #000;

            &:hover {
                background-color: #e00;
                transition: all .8s;
            }
        } */
  /* 提交按钮 */
  /* 法律条款 */
}

.loginForm .loginForm-info p {
  display: inline-block;
  width: 100px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  margin-right: 10px;
}

.loginForm .loginForm-info .Goregister {
  display: inline-block;
  margin-left: 20px;
  text-decoration: underline;
}

.loginForm .loginForm-info .Goregister a {
  color: #e00;
}

.loginForm .loginForm-info .loginForm-infos {
  width: 300px;
  display: inline-block;
  position: relative;
  /* 输入框验证通过不通过图标 */
  /* 输入时 */
  /* 验证通过 */
  /* 验证不通过 */
}

.loginForm .loginForm-info .loginForm-infos input {
  border: 1px solid #ccc;
  width: 298px;
  height: 30px;
  text-indent: 20px;
}

.loginForm .loginForm-info .loginForm-infos input:hover {
  border-bottom: 1px solid #000;
}

.loginForm .loginForm-info .loginForm-infos i {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../images/LoginIn-icon.png) no-repeat;
  position: absolute;
  top: 8px;
  right: 10px;
  display: none;
}

.loginForm .loginForm-info .loginForm-infos .input {
  display: inline-block;
  background-position: -20px -18px;
}

.loginForm .loginForm-info .loginForm-infos .pass {
  display: inline-block;
  background-position: -20px 0;
  background-color: #fff !important;
}

.loginForm .loginForm-info .loginForm-infos .active-green {
  border-bottom: 1px solid green !important;
}

.loginForm .loginForm-info .loginForm-infos .error {
  display: inline-block;
  background-position: -20px -36px;
}

.loginForm .loginForm-info .loginForm-infos .active-red {
  border-bottom: 1px solid #e00 !important;
}

.loginForm .loginForm-info .error {
  width: 500px;
  height: 34px;
  display: block;
  font-size: 12px;
  text-align: left;
  color: #e00;
  margin-left: 115px;
  /* 显示错误信息 */
}

.loginForm .loginForm-info .error .hiddenError {
  /* 隐藏错误信息 */
  display: none;
}

.loginForm .loginForm-info .error .hiddenError i {
  float: left;
  width: 14px;
  height: 14px;
  background: url(../images/LoginIn-icon.png) no-repeat -38px -14px;
  margin-top: 10px;
}

.loginForm .loginForm-info .error .hiddenError span {
  float: left;
  line-height: 34px;
  margin-left: 5px;
}

.loginForm .loginForm-info .error .active {
  display: block !important;
}

.loginForm .loginForm-info .code {
  position: absolute;
  width: 80px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  top: 71px;
  left: 425px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.loginForm .loginForm-info .codeCg {
  margin-left: 100px;
  text-decoration: underline;
  cursor: pointer;
}

.loginForm .loginForm-info .codeCg:hover {
  color: #e00;
}

.loginForm .loginForm-info .sumbitBtn {
  margin-left: 115px;
}

.loginForm .loginForm-info .sumbitBtn {
  width: 300px;
  height: 34px;
  border: none;
  background-color: #999999;
  color: #ffffff;
}

.loginForm .loginForm-info .passBtn {
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  background-color: #000 !important;
  cursor: pointer;
}

.loginForm .loginForm-info .passBtn:hover {
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  background-color: #e00 !important;
}

.loginForm .loginForm-info .clause {
  line-height: 30px;
  text-indent: 3px;
  margin: 10px 0 0 115px;
  float: left;
  color: #9d9d9d;
}

.loginForm .loginForm-info .clause [name='agreed'] {
  width: 16px;
  height: 16px;
  margin-top: 8px;
  float: left;
}

.loginForm .loginForm-info .clause p {
  width: 500px;
  font-size: 12px;
  text-align: left;
}

.loginForm .loginForm-info .clause p span a {
  font-size: 12px;
}

.loginForm .loginForm-info .clause p span:hover a {
  color: #e00;
  text-decoration: underline;
}

.loginForm .loginForm-info .clause em {
  display: block;
  font-size: 14px;
}

.loginForm .loginForm-info .clause em span {
  display: block;
  color: #e00;
}
